.description__container {
  width: 60%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.noDescription {
  color: #adadad;
}

.description__text {
  color: #222222;
  font-weight: bold;
  font-size: 1.15rem;
  margin: 5px 0;
  padding: 20px 30px;
  border-radius: 5px;
  border-bottom: 1px solid #e2e2e2;
  /* background-color: #eeeeee; */
}

.description__text::first-letter {
  text-transform: capitalize;
}

h3 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1rem;
  color: #646464;
}
