body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
  font-family: "Manrope", sans-serif;
}

.app__container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
